<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>
    <div class="container mt-5">
        <div class="card mt-3">
            <div class="card-body">
                <form id="deckForm" method="POST" action="/submit">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h5 class="card-title">{{ data['name'] }}</h5>
                    <button type="submit" class="btn btn-primary">Save Deck</button>
                </div>
                    {% for card in data['cards'] %}
                    <div class="form-group">
                        <label for="question{{ loop.index }}">Question: <input type="checkbox"
                                id="checkbox{{ loop.index }}" checked></label>
                        <div class="question-answer">
                            <div contenteditable="true" class="form-control" id="question{{ loop.index }}">{{
                                card.question }}</div>
                            <div contenteditable="true" class="form-control mt-2" id="answer{{ loop.index }}">{{
                                card.answer }}</div>
                        </div>
                        <div class="form-check mt-2 mb">
                        </div>
                    </div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
</body>

</html>