<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Questions | Ankigenerator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* CSS for loading animation */
        /* HTML: <div class="loader"></div> */

        #disabledText {
            display: none;
        }

        #loading {
            width: 0.6em;
            aspect-ratio: 1;
            border-radius: 50%;
            border: 8px solid lightblue;
            border-right-color: rgb(255, 255, 255);
            animation: l2 1s infinite linear;
            box-sizing: initial;
            margin-right: 0.1em;
        }

        @keyframes l2 {
            to {
                transform: rotate(1turn)
            }
        }
    </style>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Ankigenerator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link active" href="/editor">Editor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pricing">Pricing</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="card mt-3">
            <div class="card-body">
                <form id="deckForm" method="POST" action="/submit" enctype="multipart/form-data">
                    <input type="hidden" name="topic" value="{{ data['topic'] }}">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h5 class="card-title">{{ data['topic'] }}</h5>
                            <button type="submit" class="btn btn-primary" id="submitbutton">
                                <div id="enabledText">
                                    Create deck
                                </div>
                                <div id="disabledText">
                                    <div class="d-flex align-items-center">
                                        <div id="loading"></div>
                                        Generating...
                                    </div>
                                </div>
                            </button>
                    </div>
                    {% for question_answer in data['question_list'] %}
                    <div class="form-group">
                        <label for="question{{ loop.index }}">Question: {{loop.index}} <input type="checkbox" id="checkbox-{{ loop.index }}" name="checkbox-{{ loop.index }}" checked></label>
                        <div class="question-answer">
                            <textarea contenteditable="true" class="form-control" id="question-{{ loop.index }}" name="question-{{ loop.index }}">{{ question_answer.question }}</textarea>
                            <textarea contenteditable="true" class="form-control mt-2" id="answer-{{ loop.index }}" name="answer-{{ loop.index }}">{{ question_answer.answer }}</textarea>
                        </div>
                        <div class="form-check mt-2 mb">
                        </div>
                    </div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
        <script>
            document.getElementById('deckForm').addEventListener('submit', function () {
                // Show loading animation
                document.getElementById('disabledText').style.display = 'block';
                document.getElementById('enabledText').style.display = 'none';
                document.getElementById('submitbutton').disabled = true;
            });
        </script>
</body>

</html>
